body {
  background-color: rgb(237, 237, 156);
}
.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  color: brown;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: brown;
}

a:not(:last-child) {
  margin-right: 15px;
}

a:hover {
  color: #542121;
}
