body {
  background-color: #d5d594;
  text-align: center;
}
.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  color: brown;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: brown;
}

a:not(:last-child) {
  margin-right: 15px;
}

a:hover {
  color: #542121;
}

a[href*="mailto"] {
  display: inline-block;
  margin-bottom: 20px;
}

img {
  max-width: 768px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
